/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .hi-p {
    color: white;
    font-size: 1rem;
    font-family: Raleway;
  }

  #hi-grid {
    max-width: 85vw;
    text-align: center;
  }

  .hi-wrap {
    margin-top: 10%;
    padding-bottom: 100px;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .hi-p {
    color: white;
    font-size: 1rem;
    font-family: Raleway;
  }
  #hi-grid {
    max-width: 85vw;
    text-align: center;
  }

  .hi-wrap {
    margin-top: 10%;
    padding-bottom: 100px;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .hi-p {
    color: white;
    font-size: 1rem;
    font-family: Raleway;
  }
  #hi-grid {
    max-width: 85vw;
    text-align: center;
  }

  .hi-wrap {
    margin-top: 10%;
    padding-bottom: 100px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .hi-p {
    color: white;
    font-size: 1rem;
    font-family: Raleway;
  }
  #hi-grid {
    max-width: 85vw;
    text-align: center;
  }

  .hi-wrap {
    margin-top: 10%;
    padding-bottom: 100px;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .hi-p {
    color: white;
    font-size: 1rem;
    font-family: Raleway;
  }
  #hi-grid {
    max-width: 85vw;
    text-align: center;
  }

  .hi-wrap {
    margin-top: 10%;
    padding-bottom: 100px;
  }
}
